*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno' cursive;
    text-decoration: none;
    list-style: none;
 }
 
         :root{
    --text-color:#000000;
 --bg-color:#e5e5e5;
 --main-color:#fff;
 --other-color:#86868;
 --bg-font:5.5rem;
 --p-font:1rem;
 }
 body{
    width: 100%;
    background: var(--bg-color);
    color: var(--text-color);
    background-color: beige;
   
 }
 body.color{
   --text-color:#5e3404;
   --bg-color:beige;
   --second-color:;
   background-color: white;
}
 
header{
   position: fixed;
   top: 0;
   right: 0;
   z-index: 1000;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 27px 9%;
   transition: all ease .55s;
/* From https://css.glass */
background-color: #5e3404;
border-radius: 5px;

/*backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);*/

}
.logo{
   display: flex;
   align-items: center;
   color: beige;
   font-size: 40px;
   font-family: "Lobster", sans-serif;
   font-optical-sizing: auto;
   font-weight: weight;
   font-style: normal;
}
.logo i{
   vertical-align: middle;
   color:  2px solid  beige;
   font-size: 35px;
   margin-right: 5px;
}
.navlist{
   display: flex;
}
.navlist a{
   font-size: var(--p-font);
   color:   beige;
   font-weight: 600;
   margin:0 35px ;
   font-size: larger;
   transition: all ease .55s;
}
.navlist a:hover{
   color: beige;
   text-decoration: solid underline  rgba(169, 97, 97, 0.799);
}
.navlist a.active{
     color:#987554 ;
}
.h-main{
   display: flex;
   align-items: center;
}
.h-btn{
   display: inline-block;
   padding: 10px 25px;
   background:#987554;
   color: var(--bg-color);
   font-size: 14px;
   font-weight: 500;
   border-radius: 5px;
   border: 2px solid  #987554;
   margin-right: 20px;
   transition: all ease .55s;
}
.h-btn:hover{
   background: transparent;
   border: 2px solid  burlywood;
   color: #987554;
}
#menu-icon{
   font-size: 40px;
   color:  beige ;
   z-index: 10001;
   cursor: pointer;
   margin: 15px;
   display: none;
}
#darkmode{
   font-size: 30px;
   cursor: pointer;
   color:  beige;
   margin-left: 10px;
}
#darkmod{
   font-size: 30px;
   cursor: pointer;
   color:   beige;
   margin-left: 10px;
}
 @media (max-width:1600px){
    header{
       padding: 13px 3%;
    }
 }
 @media (max-width:1070px){
    header{
       padding: 10px 3%;
       background: var(--second-color);
       background-color: #5e3404;
    }
    #menu-icon{
       display: initial;
    }
    .navlist{
       position: absolute;
       top: -700px;
       left: 0;
       right: 0;
       display: flex;
       flex-direction: column;
       background-color: beige;
       color: #5e3404;
       transition: all ease .55s;
       text-align: left;
    }
    .navlist a{
       display: block;
       font-size: 23px;
       font-weight: 400;
       margin: 0.8rem 1.8rem;
       color: #5e3404;
 
    }
    .navlist.open{
       top: 100%;
    }
    #menu-icon{
       margin-left: 5px;
    }
    .heading{
      margin-left: -16%;
    }
   
 }
 
 
 #newsletters{
 display: flex;height: 100px;
 justify-content: space-between;margin-top: 100px;
 flex-wrap: wrap;
 align-items: center;
 background-image: url();
 background-repeat: no-repeat;
 background-position: 20% 30%;
 background-color: #1d201e;
 }
 #newsletters h4{
 font-size: 22px;
 font-weight: 700;padding-left: 20px;
 color: #ffff;
 }
 #newsletters p{
    font-size: 14px;padding-left: 20px;
    font-weight: 600;
    color: #6a6363;
 
    }
    #newsletters p span{
      color: yellow; 
        }
        .form{
            display: flex;
            width: 40%;
        }
        #newsletters input{
            height: 3.125rem;
            padding: 0 1.25em;
            font-size: 14px;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 4px;
            outline: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        #newsletters button{
            background-color :#5e3404;width: 200px;
            color: #ffff;border: none;
            white-space: nowrap;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;margin-right: 40px;
        }
        footer{
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         margin-top: 5%;
  color: black;
         }
         footer .col{
             display: flex;
             flex-direction: column;
           align-items: flex-start;
             margin-bottom: 20px;
     
             }
             footer .logo{
                 margin-bottom: 30px;
             }
             footer h4{
                 font-size: 14px;
                 padding-bottom: 20px;
             }
             footer p{
                 font-size: 13px;
                 margin: 0 0 8px 0;
                 color: black;
             }
             footer a{
          font-size: 13px;
          text-decoration: none;
          color: #222;
           margin-bottom: 10px;
  
             }
             footer .follow{
                 margin-top: 20px;
             }
             footer .follow i {
                 color: black;
                 padding-right: 4px;
                 cursor: pointer;
              font-size: small;
             }
             footer .install .row img{
                 border: 1px soild #5e3404;
                 border-radius: 6px;
             }
             footer .install img{
                 margin: 10px 0 15px 0 ;
             }
             footer .follow i:hover,
             footer a:hover{
                 color: #5e3404;
             }
             footer .copyright{
                 width: 100%;
                 text-align: center;
             }
#page-header{
    background-color: #5e3404;
    background-image: url(img/baner_-removebg-preview.png);
    width: 100%;
    height: 50vh;
    background-size: cover;
    display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;

}
#page-header h1 {
   color: #987554;
} 
#page-header p{
   color:beige}


   .container{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
   }
   .container h1{
    position: relative;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
   }
   .container h1::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background-color: ;

   }
   .container .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px , 1fr ));
    grid-gap: 30px;
   }
   .container .row   .service{
    
    padding: 0px 0px ;
    text-align: center;
    border-radius: 5px;
    transition: transform ,1s;
    cursor: pointer;
    color: #5e3404;
    font-size: 14px;
   }

   .container .row   .service:hover{
    transform: scale(1.1);
    background-color: #5e3404;
    color: beige;
   }
   .container .row   .service i{
    font-size: 40px;
    color: #5e3404;
margin-bottom: 10px;
   }
   .container .row   .service:hover i{
    color: beige;

   }
   .container .row   .service h2{
    margin-bottom: 8px;
   }


   .headin{
      height: 20h;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
   }
   .bold{
      font-size: 5rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: transparent;
      -webkit-text-stroke: 3px  #5e3404;
      position: relative;
   }
   #up{
      position: fixed;
      background-color: #5e3404;
      bottom: 40px;
      right: 50px;
      text-decoration: none;
      line-height: 50px;
      color: white;
      text-align: center;
      border-radius: 6px;
   }
   .bold::before{
      
      content: "OURSERVICES";
      position: absolute;
      width: 0%;
      height: 100%;
      overflow: hidden;
      color:  #5e3404;
      border-right: 5px solid #5e3404;
      transition: 1s ease-in-out;
   }
   .bold:hover::before{
      width: 100%;
      filter: drop-shadow  #5e3404;
   }

   .bos{
      
      right: -20%;
      font-size: 5rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: transparent;
      -webkit-text-stroke: 3px  #5e3404;;
      position: relative;
   }
   .bos::before{
      
      content: "MANUFACTURE";
      position: absolute;
      width: 0%;
      height: 100%;
      overflow: hidden;
      color: #5e3404;;
      border-right: 5px solid  #5e3404;
      transition: 1s ease-in-out;
   }
   .bos:hover::before{
      width: 100%;
      filter: drop-shadow  #5e3404;;
   }
   /* manufacture */
.gradient{
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.sliders{
   position: relative;
   width: 200px;
   height: 200px;
   transform-style: preserve-3d;
   animation: rotate 30s linear infinite;
}
.sliders span{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-origin: center;
   transform-style: preserve-3d;
   transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
}
.sliders span img{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 10px;
   object-fit: cover;
   transition: 2s;
}
.sliders span:hover img{
   transform: translateY(-50px) scale(1);
}
@keyframes rotate {
   0%{
      transform: perspective(1000px) rotateY(0deg);
   }
   100%{
      transform: perspective(1000px) rotateY(360deg);
   }
}

/* features */

.section-p1{
   padding: 40px 80px;
}
#feature .fee-box{
   width: 180px;
   text-align: center;
   padding: 25px 15px;
   box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
   border: 1px solid #cce7d0;
   border-radius: 4px;
   margin: 15px 0
}
#feature .fee-box:hover{
   box-shadow: 10px 10px 54px rgb(179, 105, 8);
}
#feature .fee-box h6{
   display: inline-block;
   padding: 9px 8px 6px 9px;
   line-height: 1;
   border-radius: 4px;
   color: #5e3404;
   background-color:rgb(179, 105, 8);
}
#feature{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}